.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: ghostwhite; */
  /* background-image: linear-gradient(to bottom right, #e1f5f5, #a4fcfc); */
}

.content {
  background-color: ghostwhite;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.items {
  max-width: 90%;
  margin: auto;
  text-align: left;
}

.basket-list {
  max-width: 50em;
  margin: auto;
  text-align: left;
}

.basket-list-grid-column {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.basket-list-grid-column-2 {
  margin-top: auto !important;
  margin-bottom: auto !important;
  display: flex;
}

.basket-list-item-quantity {
  margin-left: auto !important;
  float: right;
}

.basket-list-header {
  margin-bottom: 0 !important;
}

.basket-list-list {
  margin-top: 0.5em !important;
}

.order-details {
  max-width: 50em;
  margin: auto;
  text-align: left;
}

.order-confirm {
  max-width: 50em;
  margin: auto;
  text-align: left;
}

.basket-card-grid-column {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.basket-card-grid-column-2 {
  margin-top: auto !important;
  margin-bottom: auto !important;
  display: flex;
}

.basket-card-item-quantity {
  margin-left: auto !important;
  float: right;
}

.basket-card-header {
  margin-bottom: 0 !important;
}

.basket-list-list {
  margin-top: 0.5em !important;
}

.button-group-with-right-margin {
  margin: 0 0.25em 0 0;
}

.bottom-segment {
  margin-bottom: 10em;
}

.receipt-body {
  max-width: 50em;
  margin: auto;
  text-align: left;
}
