<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi!</p>
    <p>You are just one step away from confirming you seafood order with the fish-man-dan order portal.
    <br/><br/><strong>To confirm this order and access your virtual receipt, you MUST follow this link: <%= @url %>.</strong>
    <br/><br/>Not your order/changed your mind? Please just ignore this e-mail.
    <br/><br/>Order reference: <em><%= @order_reference %></em>
    <br/><br/>Thanks and have a great day!</p>
  </body>
</html>